@import "../variables";
@import "../mixins";

$form-position-top-mb: 145px;

.main {
  background-color: $color-blue;
  padding-top: 20px;
  border-radius: 0 0 16px 16px;
  margin-bottom: 150px;

  &__content {
    position: relative;
    padding-bottom: $form-position-top-mb;
  }

  h1 {
    @include font-NotoSansJP-Bold;
    color: $color-white;
    font-size: 28px;
    line-height: 41px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__title-desc {
    color: $color-white;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  .form-block {
    position: absolute;
    left: 0;
    right: 0;
    background-color: $color-white;
    padding: 20px 15px;
    border: 3px solid $color-yellow;
    border-radius: 8px;
    color: $color-black-blue;

    &__title {
      margin-bottom: 15px;

      h2 {
        @include font-NotoSansJP-Black;
        font-size: 26px;
        line-height: 34px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }
    }

    &__title-desc {
      @include font-NotoSansJP-Medium;
      font-size: 18px;
      line-height: 26px;
    }

    &__advantages {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__advantages-item {
      width: 125px;
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      padding-right: 10px;

      &:nth-child(2n) {
        padding-right: 0;
      }

      .advantages-item__icon {
        margin-right: 10px;
      }

      .advantages-item__desc {
        @include font-ProximaNova-Bold;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}