@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

// fonts
@mixin font-KumbhSans-Bold {font-family: 'KumbhSans-Bold', sans-serif;}
@mixin font-NotoSansJP-Black {font-family: 'NotoSansJP-Black', sans-serif;}
@mixin font-NotoSansJP-Bold {font-family: 'NotoSansJP-Bold', sans-serif;}
@mixin font-NotoSansJP-Light {font-family: 'NotoSansJP-Light', sans-serif;}
@mixin font-NotoSansJP-Medium {font-family: 'NotoSansJP-Medium', sans-serif;}
@mixin font-NotoSansJP-Regular {font-family: 'NotoSansJP-Regular', sans-serif;}
@mixin font-NotoSansJP-Thin {font-family: 'NotoSansJP-Thin', sans-serif;}
@mixin font-ProximaNova-Bold {font-family: 'ProximaNova-Bold', sans-serif;}
@mixin font-ProximaNova-Regular {font-family: 'ProximaNova-Regular', sans-serif;}
