@import "libs/normalize";
@import "mixins";
@import "fonts";
@import "components/header";
@import "components/main";
@import "components/steps";

body {
  @include font-NotoSansJP-Regular;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.text-color-yellow {
  color: $color-yellow;
}

.button-yellow {
  @include font-NotoSansJP-Black;
  border: 0;
  outline: none;
  background-color: $color-yellow;
  padding: 19px 10px 18px;
  min-width: 260px;
  min-height: 60px;
  color: $color-black-blue;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 22px 20px -12px rgba(255, 201, 60, 0.35);
}

.container {
  padding: 0 15px;
}

@media (min-width: 575.98px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    max-width: 720px;
  }
}

@media (min-width: 991.98px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    max-width: 1170px;
  }
}
