@import "libs/normalize";
@import "mixins";
@import "fonts";
@import "components/header";
@import "components/main";
@import "components/steps";
@import "components/questions";

body {
  @include font-NotoSansJP-Regular;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
}

.text-color-yellow {
  color: $color-yellow;
}

.button-yellow {
  @include font-NotoSansJP-Black;
  border: 0;
  outline: none;
  background-color: $color-yellow;
  color: $color-black-blue;
  font-size: 16px;
  line-height: 23px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;

  @media (min-width: 768px) {
    & {
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.container {
  padding: 0 15px;
}

@media (min-width: 576px){
  .container {
    max-width: 540px;
    margin: auto;
    padding: 0;
  }
}

@media (min-width: 768px){
  .container {
    max-width: 720px;
  }
}

@media (min-width: 990px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 1170px;
  }
}
